@page "/edit-language"
@page "/edit-language/{Id:Guid}"
@using TeamManagerWeb.Core.Entities
@using TeamManagerWeb.Repository.Common
@inject IRepository<Language, Guid> Repository
@inject NavigationManager NavigationManager
@rendermode InteractiveWebAssembly

@if (Id == null)
{
    <h3>Add New Language</h3>
}
else
{
    <h3>Edit @language.Name</h3>
}

@code {
    [Parameter]
    public Guid? Id { get; set; }

    private Language language = new Language();

    protected override async Task OnParametersSetAsync()
    {
        if (Id != null)
        {
            language = await Repository.GetAsync(Id.Value);
        }
    }

    private async Task HandleSubmit()
    {
        if (Id == null)
        {
            await Repository.CreateAsync(language);
        }
        else
        {
            await Repository.UpdateAsync(language);
        }
        await Repository.SaveAsync();
        NavigationManager.NavigateTo("/languages");
    }

    private async Task DeleteLanguage()
    {
        if (Id != null)
        {
            await Repository.DeleteAsync(Id.Value);
            await Repository.SaveAsync();
            NavigationManager.NavigateTo("/languages");
        }
    }
}

<EditForm Model="language" OnSubmit="HandleSubmit">
    <label>Name</label>
    <InputText @bind-Value="language.Name" class="form-control" />
    <button type="submit" class="btn btn-primary">Submit</button>
    @if (Id != null)
    {
        <button @onclick="DeleteLanguage" type="button" class="btn btn-danger">Delete</button>
    }
</EditForm>


